body {
    font-family: Arial;
    background-color: aliceblue;
    padding: 40px 0;
}

.container {
    box-shadow: 0 0 20px cornflowerblue;
    width: 1000px;
    margin: 0 auto 0 auto;
    background-color: white; 
}

h1 {
    font-family: "Pacifico";
    font-size: 36px;
    margin-bottom: 10px;
    margin-left: 12px;
}

h2 {
    font-size: 28px;
}

h3 {
    margin-top: 5px;
}

footer {
    padding: 10px 60px 40px 60px;
    display: flex;
    text-align: center;
    font-size: small;
    font-family: Arial;
    color: gray;
}

span {
    color: grey;
    margin-left: 15px;
}

section,
header {
    padding: 10px 60px 10px 60px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 60px;
}

header ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

.address-icon {
    width: 16px;
    height: 16px;
    background-color: cornflowerblue;
    margin-right: 10px;
    padding: 8px;
    vertical-align: middle;
}

.circle {
    border-radius: 50%;
}

.profile-picture {
    width: 180px;
    height: 180px;
    box-shadow: 0 0 40px cornflowerblue;
}

.hobbies {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.hobbies li {
    width: 50%;
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
}

.int-images {
    width: 24px;
    height: 24px;
}

.hobbies div {
    margin-left: 20px;
}

.hobbies p {
    color: grey;
}

p {
    line-height: 1.7;
    text-align: justify;
}

a:link {
    text-decoration: none;
    color: black;
    font-style:normal;
}

a:hover {
    color: white;
    background-color: cornflowerblue;
    border: 1px solid aliceblue;
    border-radius: 26px;
    padding: 5px;
    transition: all 0.5s;
}

a:hover:visited {
    color: white;
    background-color: cornflowerblue;
    border: 1px solid aliceblue;
    border-radius: 26px;
    padding: 5px;
    transition: all 0.5s;
}

a:focus {
    outline: none;
    color: white;
    background-color: cornflowerblue;
    border: 1px solid aliceblue;
    border-radius: 26px;
    padding: 5px;
    transition: all 0.5s;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:focus:visited  {
    color:white
}

.cv-download-link {
    border: 2px solid cornflowerblue;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 26px;
    transition: background-color 0.5s, text-shadow 0.5s;
    box-shadow: 0 0 20px cornflowerblue;
}

.cv-download-link:hover {
    text-shadow: 0 0 1px black;
    background-color: cornflowerblue;
    padding: 10px 20px;
}

.cv-download-link:focus {
    outline: none;
    color: white;
    background-color: cornflowerblue;
    padding: 10px 20px;
}

.cv-download-link:active {
    text-decoration: none;
    color: red;
}

.jezyki {
    display: flex;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.jezyki li {
    font-size: 18px;
    width: 66%;
    flex-wrap: wrap;
    line-height: 40px;
    vertical-align: middle;
    transition: all 0.5s;
}

.jezyki li:hover {
    outline: none;
    box-shadow: 0 0 20px cornflowerblue;
    padding: 5px;
    border-radius: 26px;
}

.photo-languages {
    vertical-align: middle;
    align-items: center;
    padding-top: 15px;
}

section li {
    list-style-type:circle;
}